/* css formats for whole page */
body {
	font: 16px arial, helvetica, sans-serif;
	background-color: #1e1e1e;
	margin: auto;
}

.content {
	max-width: 1080px;
	margin: auto;
	border: 2px solid #d73f09;
}

.gaugeContainer {
	margin: auto;
        width: 50%;
}

.positionCanvas {
	position: absolute;
    top: -80px;
}

/* css formats for the grid and grid elements */
.grid-container {
	display: grid;
	grid-template-columns: 90px 90px 90px 90px; /* 90px 90px 90px 90px 90px 90px 90px 90px;*/
	grid-template-rows:    90px 60px 60px 60px 54px 180px 180px;/*100px 180px 90px 90px 90px 90px;*/
	background-color: #1e1e1e;
	/*grid-gap: 10px;*/
	color: #ffffff;
	
}
.grid-container > div {
	background-color: #1e1e1e;
	text-align: center;
	padding: 0px 0px;
  
}
/* apogee */
.item1 {
	grid-column-start: 2;
	grid-column-end: 4;
}
/*.item1 > img {
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 0px 0px;
}*/
/* altimeters */
.item2 {
	grid-column-start: 1;
	grid-column-end: 3;
	border-right: 2px solid #d73f09;
}
.item3 {
	grid-column-start: 3;
	grid-column-end: 5;
	border-left: 2px solid #d73f09;
}
/* lat/lon readouts */
.item4 {
	grid-column-start: 1;
	grid-column-end: 3;
	border-right: 2px solid #d73f09;
}
.item5 {
	grid-column-start: 3;
	grid-column-end: 5;
	border-left: 2px solid #d73f09;
}
.item6 {
	grid-column-start: 1;
	grid-column-end: 3;
	border-right: 2px solid #d73f09;
}
.item7 {
	grid-column-start: 3;
	grid-column-end: 5;
	border-left: 2px solid #d73f09;
}
/*clock*/
.item8 {
	grid-column-start: 2;
	grid-column-end: 4;
}
/* gauges */
.item9 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.item10 {
	grid-column-start: 3;
	grid-column-end: 5;
}
.item11 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.item12 {
	grid-column-start: 3;
	grid-column-end: 5;
}
.item13 {
	grid-column-start: 2;
	grid-column-end: 4;
}
.item14 {
	grid-column-start: 1;
	grid-column-end: 5;
}
/*.item7 {
	grid-column-start: 2;
	grid-column-end: 5;
}
.item7 > img {
	margin: auto;
	width: 75%;
	height: 75%;
	padding: 0px 0px;
}
.item9 {
	grid-column-start: 4;
	grid-column-end: 6;
}
.item10 {
	grid-column-start: 6;
	grid-column-end: 8;
}
.item10 > img {
	margin: auto;
	width: 75%;
	height: 75%;
	padding: 0px 0px;
}
.item11 {
	grid-column-start: 9;
	grid-column-end: 13;
	grid-row-start: 2;
	grid-row-end: 6;
}
.item11 > img {
	margin: auto;
	width: 99%;
	height: 99%;
	padding: 0px 0px;
}
.item13 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;	
}
.item14 {
	grid-column-start: 3;
	grid-column-end: 7;	
}
.item16 {
	grid-column-start: 7;
	grid-column-end: 9;
	grid-row-start: 3;
	grid-row-end: 5;	
}
.item17 {
	grid-column-start: 3;
	grid-column-end: 5;	
}
.item18 {
	grid-column-start: 5;
	grid-column-end: 7;	
}
.item19 {
	grid-column-start: 1;
	grid-column-end: 3;	
}
.item20 {
	grid-column-start: 3;
	grid-column-end: 5;	
}
.item21 {
	grid-column-start: 5;
	grid-column-end: 7;	
}
.item22 {
	grid-column-start: 7;
	grid-column-end: 9;	
}
.item23 .item24 .item25 {
	grid-column-start: 1;
	grid-column-end: 13;	
}
*/
/* css formats for the segment display */
.apogeeDisplay {
	padding-top: 0;
	padding-bottom: auto;
	padding-left: auto;
	padding-right: auto;
}
.apogeeDisplay .on {
        fill: #00ff00;
}
.apogeeDisplay .off {
        fill: #00ff00;
        opacity: 0.15;
}
#apogeeContainer > svg {
	background-color: #000000;
}

.clockDisplay {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.clockDisplay .on {
  fill: #00ff00;
}
.clockDisplay .off {
  fill: #00ff00;
  opacity: 0.15;
}
#clockContainer > svg {
	background-color: #000000;
}

.boosterAltimeterDisplay {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.boosterAltimeterDisplay .on {
        fill: #ff7b00;
}
.boosterAltimeterDisplay .off {
        fill: #ff7b00;
        opacity: 0.15;
}
#boosterAltimeterContainer > svg {
	background-color: #000000;
}

.sustainerAltimeterDisplay {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.sustainerAltimeterDisplay .on {
        fill: #ff7b00;
}
.sustainerAltimeterDisplay .off {
        fill: #ff7b00;
        opacity: 0.15;
}
#sustainerAltimeterContainer > svg {
	background-color: #000000;
}

.boosterLatDisplay {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.boosterLatDisplay .on {
        fill: #ff7b00;
}
.boosterLatDisplay .off {
        fill: #ff7b00;
        opacity: 0.15;
}
#boosterLatContainer > svg {
	background-color: #000000;
}

.boosterLonDisplay {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.boosterLonDisplay .on {
        fill: #ff7b00;
}
.boosterLonDisplay .off {
        fill: #ff7b00;
        opacity: 0.15;
}
#boosterLonContainer > svg {
	background-color: #000000;
}

.sustainerLatDisplay {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.sustainerLatDisplay .on {
        fill: #ff7b00;
}
.sustainerLatDisplay .off {
        fill: #ff7b00;
        opacity: 0.15;
}
#sustainerLatContainer > svg {
	background-color: #000000;
}

.sustainerLonDisplay {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.sustainerLonDisplay .on {
        fill: #ff7b00;
}
.sustainerLonDisplay .off {
        fill: #ff7b00;
        opacity: 0.15;
}
#sustainerLonContainer > svg {
	background-color: #000000;
}

/* three.js style stuff*/
.positionCanvas{
    background-color:#383838;
    height:450px;
}
